.button-light {
  @include button-base;
  background-color: #ffffff;
  border: none;
  color: #52503b;
  &:hover {
    background-color: #E48716;
    color: #52503b;
  }

}

.button-dark {
  @include button-base;
  background-color: #52503b;
  border: none;
  color: #ffffff;
  &:hover {
    background-color: #E48716;
    color: #52503b;
  }

}

.button-transparent {
  @include button-base;
  background-color: transparent;
  border: 4px solid;
  color: #52503b;
  &:hover {
    background-color: #E48716;
    color: #52503b;
    border: none;
  }

}
